
.ToDocard{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    margin-bottom: 5%;
}
.MyToDo {
    text-align: center;
    width: 600px;
  }
  
  .MyToDo input[type="text"] {
    margin-right: 30px;
    margin-bottom: 2%;
    margin-top: 0px;
  }
  .card {
    justify-content: center;
    align-items: center
   }
  .card-content{
    
    text-align: center;
    height: 150px;
    width: 400px;
    background-color: rgb(185, 225, 185);
    margin-top: 10px;
  }